/* This is the general styling for all the pages */

.nav-pills {
    background-color: rgb(193, 67, 67);
    border-radius: 5px;
}

.nav-link {
    color: black;
}

#nav-link-cream {
    background-color:whitesmoke;
    color: black;
}

body {
    background-color: blanchedalmond;
}

.Initials {
    font-family: 'Lucida Handwriting';
}

/*This is where the styling for the about me page begins */

.About_me_title {
    margin-left: 20px;
}

.About-Me-Blurb {
    margin-right: 225px; /* Anything from 200px to 300px is okay. If you go over or under, this will make the paragraph go too far to the right. */
    margin-left: 20px;
    text-align-last:left;
    text-align:justify;
}

.quote_container {
    text-align:center;
    border-style:groove;
    border-color:rgb(193, 67, 67);
    border-radius: 5px; /* This border radius is to round the corners of the border */
    margin-top: 30px;
    margin-bottom: 30px;
    height: 50px;
    background-color: rgb(193, 67, 67);
    font-size: 25px;
}

#headingOne {
    background-color: rgb(193, 67, 67);
    color: black;
}

#accordian_color {
    color:black;
}

.card-body {
    background-color: blanchedalmond;
}

#headingTwo {
    background-color: rgb(193, 67, 67);
    color: black;
}


/* This is where the styling unique to the projects page begins. */

#project_1 {
margin-top: 25px;
}

#project_container{
    background-color: rgb(193, 67, 67);
    border-radius: 5px;
    width: 800px;
    height: auto;
}


.project_title{
    text-align: center;
}

#project_2 {
    margin-top: 25px;
}

#project_3 {
    margin-top: 25px;
}

/* This is where the styling unique to the contact me page begins. */
.contact_me_section {
    margin-left: 15px;
}

.email_paragraph {
    margin-bottom: -5px;
}